@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
body {
    background-color: #E5E5E5;
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

article {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 1.6rem;
    text-decoration: underline #0D47A1;
}

h3 {
    font-size: 1.4rem;
}

ul {
    margin: 0;
}

#cancelled {
    background-image: url('../img/cancelled.jpg');
    background-size: contain;
    background-repeat: repeat-x;
    height: 26vh;
}


/* desktop */

@media only screen and (min-width: 768px) {
    body {
        font-size: 1.6rem;
    }
    h1 {
        font-size: 3.6rem;
    }
    h2 {
        font-size: 2.6rem;
    }
    h3 {
        font-size: 2.4rem;
    }
    select {
        width: 75%;
    }
    .adresCol {
        margin-top: 0%;
    }
}